*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.primary-header {
  /* --max-width: 1353px;
  --padding: 1rem;

  width: min(var(--max-width), 100%);
  margin-inline: auto; */
}

.header-sticky {
  background-color: #8528e1;
  text-align: center;
  color: white;

  padding: 14px;
  font-size: 15px;
}

.primary-nav {
  display: flex;
  background-color: #2f2f2f;
  padding: 18px 120px;
}

.primary-nav a {
  color: white;
}

.primary-nav ul {
  display: flex;
  padding: 0px 50px;
}

.nav-links {
  flex: 2;
  justify-content: space-between;
}

.nav-icons {
  flex: 1;
  justify-content: center;
}

.nav-icons li {
  padding: 0px 12px;
}

/*
.header-sticky {
    display: flex;
    background-color: #8528E1;
    color: white;
    justify-content: center;

    padding: 14px;
    font-size: 15px;
}

nav {
    display: flex;
    background-color: #2F2F2F;
    color: white;
    justify-content: center;
    padding: 16px;
}

.brand-logo {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
}

.nav-links:hover {
    color: #a1a1a1;
}

.nav-icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 10px;
}

.nav-icons i:hover {
    color: red;
}

nav a {
    color: white;
} */
