*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header-sticky {
    display: flex;
    background-color: #2A70D9;
    color: white;
    justify-content: center;

    padding: 14px;
    font-size: 15px;
}

nav {
    display: flex;
    background-color: #2F2F2F;
    color: white;
    justify-content: center;
    padding: 16px;
}

.brand-logo {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
}

.nav-links:hover {
    color: #a1a1a1;
}

.nav-icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 10px;
}

.nav-icons i:hover {
    color: red;
}

nav a {
    color: white;
}